<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale">
        <title>Vue</title>
    </head>
    <body>
        <div id="app">
            <!-- <button @click.once="doAlert()">Alert</button> -->

            <!-- <form @submit.prevent="doAlert">
                <input type="text" v-model="name">
                <button>submit</button>
            </form> -->

            <input type="checkbox" value="A" v-model="char">
            <input type="checkbox" value="B" v-model="char">
            <input type="checkbox" value="C" v-model="char">
            {{char}}
            <br>
            <select v-model="select">
                <option>A</option>
                <option>B</option>
                <option>C</option>                
            </select>
            {{select}}

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        name: 'Mg',
                        char: [],
                        select: []
                    }
                },
                methods: {
                    doAlert() {
                        console.log("once");
                    }
                }
            });
        </script>
    </body>
</html>