body {
    margin: 0;
}

.header,
.footing {
    background: #fca5ad;
    padding: 1rem;
}

.inn {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

ul,
.head-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 0 1rem;
}

li a {
    color: #fff;
    text-decoration: none;
}